<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Patient Monitoring</title>

    <link rel="stylesheet" href="/static/style.css">

    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-2.35.2.min.js"></script>

    <!-- Socket.IO -->
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
</head>

<body>

<div class="container">

    <h1>Real-Time Patient Monitoring</h1>

    <h2>Latest Vitals</h2>

    <table id="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th>Heart Rate</th>
                <th>BP</th>
                <th>Oxygen</th>
                <th>Temp</th>
                <th>Time</th>
                <th>Alert</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <div style="margin-top:30px;">
        <h2>Patient Trends</h2>

        <label for="patientSelect">Select Patient:</label>
        <select id="patientSelect">
            <option value="">Choose Patient</option>
        </select>

        <div id="hrChart" style="margin-top:20px;"></div>
        <div id="oxChart"></div>
        <div id="tempChart"></div>
    </div>

</div>

<script src="/static/script.js"></script>

</body>
</html>